@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.hero,
.body-content1,
.body-content2,
.body-content3 {
  height: 100vh;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-img {
  width: 7.5rem;
  height: auto;
  filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.7));
  border-radius: 50%;
}

.logo-name {
  font-size: 3.2rem;
  font-style: italic;
}

a {
  color: #fff;
  text-decoration: none;
}
.language-switch {
  display: flex;
  gap: 1rem;
  text-align: center;
  margin: 20px 0;
}
.language-switch button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #f0e5eb;
  padding: 0;
  border: none;
  /* padding: 10px 20px;
  margin: 0 10px; */
  cursor: pointer;
  border-radius: 8px;
}

.language-switch button img {
  width: 30px;
  height: auto;
}

.main-header {
  display: flex;
  justify-content: center;
}

nav {
  background-color: transparent;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1f7e9b;
  width: 90%;
  /* gap: 20rem; */
  justify-content: space-around;
}

nav a {
  color: #f0e5eb;
  font-size: 1.8rem;
  /* display: flex; */
  align-items: center;
  gap: 20rem;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  transition: all 0.2s ease;
}

.nav_links a:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.nav-icon {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
}

.nav_links {
  margin-left: 16rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.hero-content {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 50rem;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-heading {
  font-size: 10rem;
  padding: 0 8rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-heading h1 {
  margin-bottom: 2rem;
  font-size: 8vh;
  font-weight: 700;
}

.hero-heading h1 span {
  margin-bottom: -0.5rem;
}

.hero-heading span {
  display: block;
}

.heading-highlighted {
  background: rgb(19, 228, 233);
  background: linear-gradient(
    90deg,
    rgba(19, 228, 233, 1) 3%,
    rgba(21, 139, 232, 1) 100%,
    rgba(3, 16, 128, 1) 100%
  );

  color: transparent;
  background-clip: text;
  padding-left: 2rem;
}

.hero-heading h3 {
  color: #c0e9ee;
  padding-left: 2rem;
  font-size: 3vh;
  font-weight: 300;
}

.hero-heading h2 span {
  margin-bottom: 0.5rem;
}

.hero-img {
  position: absolute;
  right: 10%;
}

.body-content1 {
  background: rgb(2, 131, 185);
  background: linear-gradient(
    0deg,
    rgba(2, 131, 185, 0.8) 0%,
    rgba(5, 4, 0, 1) 50%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-content1 .about {
  padding: 0rem 8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20rem;
}

.body-content1 .about .left {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}

.body-content1 .about .left h2 {
  font-size: 7vh;
  font-weight: 500;
  /* background: linear-gradient(
    0deg,
    rgba(11, 17, 57, 1) 20%,
    rgba(30, 35, 64, 1) 57%,
    rgb(11, 61, 86) 88%
  );
  color: transparent;
  -webkit-background-clip: text; */
  color: #fff;
}

.body-content1 .about .right button {
  font-size: 2vh;
  font-weight: 400;
  padding: 1em;
  border-radius: 0.5em;
}

.body-content1 .about .right {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}

.body-content1 .about .right h2 {
  font-size: 6vh;
  font-weight: 400;
  background: linear-gradient(
    0deg,
    rgba(11, 17, 57, 1) 20%,
    rgba(30, 35, 64, 1) 57%,
    rgb(11, 61, 86) 88%
  );
  color: transparent;
  -webkit-background-clip: text;
  color: #fff;
}

.body-content1 .about .right p {
  font-size: 3vh;
  letter-spacing: 0.3px;
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
}

.section-img {
  width: 70vh;
}

button {
  background-color: rgba(133, 224, 252, 0.2);
  background-color: transparent;
  color: #f0e5eb;
  color: rgb(0, 173, 247);
  padding: 1em;
  border-radius: 1em;
  border: 1px solid rgb(0, 173, 247);
  letter-spacing: 0.05rem;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.2s;
}

button:not([id$="-btn"]):hover,
button:focus {
  transform: scale(1.05) translateY(-0.2rem);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
}

button:not([id$="-btn"]):active {
  transform: translateY(-0.1rem) scale(1);
  box-shadow: 0px 0.3rem 0.7rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  outline: none;
}

.body-content1 .about .right button:first-of-type {
  margin-bottom: 6rem;
}

.body-content2 {
  perspective: 150rem;
  text-align: center;
  padding: 16rem 18rem;
  color: #fff;
  background: linear-gradient(180deg, #0283b9cc 50%, rgb(0, 0, 0) 100%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.body-content2 .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.body-content2 .left .box {
  color: rgb(0, 173, 247);
  background-color: transparent;
  border: 1px solid rgb(0, 173, 247);
}

.body-content2 img {
  width: 60vh;
}

.body-content2 h2 {
  font-size: 7vh;
  font-weight: 400;
  text-align: left;
}

.body-content2 p {
  text-align: left;
  font-size: 2.5vh;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.info-boxes {
  display: block;
  justify-content: center;
  gap: 2rem;
}

.info-boxes .box p {
  font-size: 3vh;
}

.box {
  width: 40rem;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  backdrop-filter: blur(10rem);
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.35s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.box p {
  font-size: 2.2rem;
  margin: 0;
}

.box:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.active-box {
  background-color: rgb(144, 212, 252);
}

.body-content3 {
  background-color: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 50%,
    rgba(2, 131, 185, 0.8) 100%
  );
  display: flex;
  align-items: center;
}

.product-box-wrapper {
  padding: 0rem 8rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.product {
  color: #fff;
  background-color: rgba(68, 68, 68, 0.2);
  border-radius: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 6rem;
  padding: 12rem 8rem;
  text-align: center;
}

.product h3 {
  font-size: 3vh;
  font-weight: 400;
}

.product p {
  font-size: 1.6vh;
  font-weight: 400;
}

.product img {
  width: 20rem;
}

footer {
  height: 50vh;
  color: #222;
  background-color: #f7f7f7;
  background: linear-gradient(
    180deg,
    rgba(2, 131, 185, 0.8) 0%,
    rgba(255, 255, 255) 100%
  );
  padding: 10em 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20em;
}
.footer-items {
  display: flex;
  justify-content: center;
  gap: 15em;
}
.footer-creds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
footer .logo-box h1 {
  font-size: 2.4em;
  color: #222;
}
footer .logo-box img {
  filter: none;
  width: 6rem;
  height: auto;
}
footer h4 {
  width: 75%;
  font-weight: 500;
  font-size: 2rem;
  grid-row: 1 / 2;
  margin-bottom: 2rem;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

footer ul li a {
  color: #222;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.social-links h3 {
  font-size: 2.4rem;
  font-weight: 400;
}
.social-links img {
  width: 4em;
  height: 4em;
}
.social-links .email img {
  width: 4.7em;
  height: 4.7em;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.map-container {
  position: relative;
  width: 100%;
  height: 50vh;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-10%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-right {
  opacity: 0;
  transform: translateX(10%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.night {
  position: relative;
  width: 50%;
  height: 100vh;
  transform: rotateZ(135deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0.2vh;
  background: linear-gradient(-45deg, #13e4e9, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 0.2vh;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #09a7aa,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 0.2vh;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #09a7aa,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -44px);
  left: calc(50% - 159px);
  -webkit-animation-delay: 8116ms;
  animation-delay: 8116ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 8116ms;
  animation-delay: 8116ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 104px);
  left: calc(50% - 113px);
  -webkit-animation-delay: 3393ms;
  animation-delay: 3393ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 3393ms;
  animation-delay: 3393ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 73px);
  left: calc(50% - 5px);
  -webkit-animation-delay: 680ms;
  animation-delay: 680ms;
}
.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 680ms;
  animation-delay: 680ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - -35px);
  left: calc(50% - 32px);
  -webkit-animation-delay: 9609ms;
  animation-delay: 9609ms;
}
.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 9609ms;
  animation-delay: 9609ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 134px);
  left: calc(50% - 138px);
  -webkit-animation-delay: 1242ms;
  animation-delay: 1242ms;
}
.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 1242ms;
  animation-delay: 1242ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - -46px);
  left: calc(50% - 198px);
  -webkit-animation-delay: 8110ms;
  animation-delay: 8110ms;
}
.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 8110ms;
  animation-delay: 8110ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -152px);
  left: calc(50% - 126px);
  -webkit-animation-delay: 9095ms;
  animation-delay: 9095ms;
}
.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 9095ms;
  animation-delay: 9095ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - -157px);
  left: calc(50% - 205px);
  -webkit-animation-delay: 6617ms;
  animation-delay: 6617ms;
}
.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 6617ms;
  animation-delay: 6617ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -21px);
  left: calc(50% - 286px);
  -webkit-animation-delay: 1124ms;
  animation-delay: 1124ms;
}
.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 1124ms;
  animation-delay: 1124ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -54px);
  left: calc(50% - 111px);
  -webkit-animation-delay: 1224ms;
  animation-delay: 1224ms;
}
.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 1224ms;
  animation-delay: 1224ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - -135px);
  left: calc(50% - 124px);
  -webkit-animation-delay: 2971ms;
  animation-delay: 2971ms;
}
.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 2971ms;
  animation-delay: 2971ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -156px);
  left: calc(50% - 141px);
  -webkit-animation-delay: 3032ms;
  animation-delay: 3032ms;
}
.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 3032ms;
  animation-delay: 3032ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 119px);
  left: calc(50% - 84px);
  -webkit-animation-delay: 9924ms;
  animation-delay: 9924ms;
}
.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 9924ms;
  animation-delay: 9924ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -9px);
  left: calc(50% - 288px);
  -webkit-animation-delay: 6436ms;
  animation-delay: 6436ms;
}
.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 6436ms;
  animation-delay: 6436ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 145px);
  left: calc(50% - 110px);
  -webkit-animation-delay: 4462ms;
  animation-delay: 4462ms;
}
.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 4462ms;
  animation-delay: 4462ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - -59px);
  left: calc(50% - 245px);
  -webkit-animation-delay: 4103ms;
  animation-delay: 4103ms;
}
.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 4103ms;
  animation-delay: 4103ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -139px);
  left: calc(50% - 145px);
  -webkit-animation-delay: 1276ms;
  animation-delay: 1276ms;
}
.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 1276ms;
  animation-delay: 1276ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -184px);
  left: calc(50% - 126px);
  -webkit-animation-delay: 8734ms;
  animation-delay: 8734ms;
}
.shooting_star:nth-child(18)::before,
.shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 8734ms;
  animation-delay: 8734ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 197px);
  left: calc(50% - 289px);
  -webkit-animation-delay: 2965ms;
  animation-delay: 2965ms;
}
.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 2965ms;
  animation-delay: 2965ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -188px);
  left: calc(50% - 262px);
  -webkit-animation-delay: 177ms;
  animation-delay: 177ms;
}
.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 177ms;
  animation-delay: 177ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
