@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;

  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 4, 9, 1) 90%,
    rgba(3, 166, 214, 1) 100%
  );

  display: flex;
  flex-direction: column;
}
.hero,
.body-content1,
.body-content2 {
  height: 100vh;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-img {
  width: 7.5rem;
  height: auto;
  filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.7));
  border-radius: 50%;
}

.logo-name {
  font-size: 3.2rem;
  font-style: italic;
}

a {
  color: #fff;
  text-decoration: none;
}
.language-switch {
  display: flex;
  gap: 1rem;
  text-align: center;
  margin: 20px 0;
}
.language-switch button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #f0e5eb;
  padding: 0;
  border: none;
  /* padding: 10px 20px;
  margin: 0 10px; */
  cursor: pointer;
  border-radius: 8px;
}

.language-switch button img {
  width: 30px;
  height: auto;
}

.main-header {
  display: flex;
  justify-content: center;
}

nav {
  background-color: transparent;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1f7e9b;
  width: 90%;
  /* gap: 20rem; */
  justify-content: space-around;
}

nav a {
  color: #f0e5eb;
  font-size: 1.8rem;
  /* display: flex; */
  align-items: center;
  gap: 20rem;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  transition: all 0.2s ease;
}

.nav_links a:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.nav-icon {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
}

.nav_links {
  margin-left: 16rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background: rgb(2, 131, 185);
  background: linear-gradient(
    0deg,
    rgba(2, 131, 185, 0.8) 0%,
    rgba(5, 4, 0, 1) 50%
  );
  display: flex;
  flex-direction: column;
}

.hero,
.body-content1,
.body-content2 {
  height: 100vh;
}

footer {
  height: 50vh;
  color: #222;
  background-color: #f7f7f7;
  background: linear-gradient(
    180deg,
    rgba(2, 131, 185, 0.8) 0%,
    rgba(255, 255, 255) 100%
  );
  padding: 10em 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20em;
}
.footer-items {
  display: flex;
  justify-content: center;
  gap: 15em;
}
.footer-creds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
footer .logo-box h1 {
  font-size: 2.4em;
  color: #222;
}
footer .logo-box img {
  filter: none;
  width: 6rem;
  height: auto;
}
footer h4 {
  width: 75%;
  font-weight: 500;
  font-size: 2rem;
  grid-row: 1 / 2;
  margin-bottom: 2rem;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

footer ul li a {
  color: #222;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.social-links h3 {
  font-size: 2.4rem;
  font-weight: 400;
}
.social-links img {
  width: 4em;
  height: 4em;
}
.social-links .email img {
  width: 4.7em;
  height: 4.7em;
}
